:80 {
	root * /data/site
	file_server
	encode gzip
	header Cache-Control "no-cache"
	header /assets/* Cache-Control "public, max-age=31536000, immutable"
	header /feed*.xml Content-Type "application/rss+xml; charset=utf-8"
}
