{% extends '_account_base.html' %}
{% block page_language %}{{ account_language }}{% endblock %}
{% block page_title %}{{ copy.sign_in }}{% endblock %}
{% block body_class %}login-page{% endblock %}
{% block extra_head %}<link rel="stylesheet" href="/login.css">{% endblock %}
{% block brand_note %}{{ copy.brand_note }}{% endblock %}
{% block skip_label %}{{ copy.skip_content }}{% endblock %}
{% block introduction %}{% endblock %}
{% block content %}{% include '_login_card.html' %}{% endblock %}
{% block footer %}{{ copy.login_privacy }}{% endblock %}
